<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">Create a new check</div>
  </div>
  <div class="portlet-body form">
    <% if (info.length) { %>
    <div class="alert alert-success"><%= info %></div>
    <% } %>
    <%- partial('_check_details', { check: check, pollerCollection: pollerCollection, pollerDetails: '', route: '/dashboard' }) %>
  </div>
</div>
<script>
jQuery(document).ready(function($) {
  $('.sub-menu li').eq(1).addClass('active');
});
</script>