<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Uptime</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/dashboard/favicon.ico">
    <link rel="apple-touch-icon" href="/dashboard/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/dashboard/apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/dashboard/apple-touch-icon-iphone4.png">
    <%- renderCssTags(addedCss) %>
    <script src="/dashboard/javascripts/jquery.min.js"></script>
    <script src="/dashboard/javascripts/socket.io.js"></script>
    <script>
    var socket = io.connect(location.protocol + '//' + location.hostname);
    </script>
    <!--[if lt IE 9]>
    <script src="/dashboard/javascripts/plugins/respond.min.js"></script>
    <script src="/dashboard/javascripts/plugins/excanvas.min.js"></script> 
    <script src="/dashboard/javascripts/plugins/ie8.fix.min.js"></script> 
    <![endif]-->
  </head>
  <body class="page-md">
    <!-- BEGIN HEADER -->
        <header class="page-header">
            <nav class="navbar" role="navigation">
                <div class="container-fluid">
                    <div class="havbar-header">
                        <!-- BEGIN LOGO -->
                        <a id="index" class="navbar-brand" href="/dashboard/events">
                            <img src="/dashboard/img/logo.png" alt="Logo"> </a>
                        <!-- END LOGO -->
                        <!-- BEGIN TOPBAR ACTIONS -->
                        <div class="topbar-actions">
                            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                            <form class="search-form" action="extra_search.html" method="GET">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search here" name="query">
                                    <span class="input-group-btn">
                                        <a href="javascript:;" class="btn md-skip submit">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </form>
                            <!-- END HEADER SEARCH BOX -->
                            <!-- BEGIN GROUP NOTIFICATION -->
                            <div class="btn-group-notification btn-group" id="header_notification_bar">
                                <button type="button" class="btn md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="badge">9</span>
                                </button>
                                <ul class="dropdown-menu-v2">
                                    <li class="external">
                                        <h3>
                                            <span class="bold">12 pending</span> notifications</h3>
                                        <a href="#">view all</a>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 250px; padding: 0;" data-handle-color="#637283">
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-success md-skip">
                                                            <i class="fa fa-plus"></i>
                                                        </span> New user registered. </span>
                                                    <span class="time">just now</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger md-skip">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Server #12 overloaded. </span>
                                                    <span class="time">3 mins</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-warning md-skip">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> Server #2 not responding. </span>
                                                    <span class="time">10 mins</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-info md-skip">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> Application error. </span>
                                                    <span class="time">14 hrs</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger md-skip">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Database overloaded 68%. </span>
                                                    <span class="time">2 days</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger md-skip">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> A user IP blocked. </span>
                                                    <span class="time">3 days</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-warning md-skip">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> Storage Server #4 not responding dfdfdfd. </span>
                                                    <span class="time">4 days</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-info md-skip">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> System Error. </span>
                                                    <span class="time">5 days</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger md-skip">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Storage server failed. </span>
                                                    <span class="time">9 days</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- END GROUP NOTIFICATION -->
                            <!-- BEGIN USER PROFILE -->
                            <div class="btn-group-img btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img src="/dashboard/img/avatar1.jpg" alt=""> </button>
                                <ul class="dropdown-menu-v2" role="menu">
                                    <li>
                                        <a href="page_user_profile_1.html">
                                            <i class="icon-user"></i> My Profile
                                            <span class="badge badge-danger">1</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_calendar.html">
                                            <i class="icon-calendar"></i> My Calendar </a>
                                    </li>
                                    <li>
                                        <a href="app_inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox
                                            <span class="badge badge-danger"> 3 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_todo_2.html">
                                            <i class="icon-rocket"></i> My Tasks
                                            <span class="badge badge-success"> 7 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="page_user_lock_1.html">
                                            <i class="icon-lock"></i> Lock Screen </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_1.html">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END USER PROFILE -->
                        </div>
                        <!-- END TOPBAR ACTIONS -->
                    </div>
                </div>
                <!--/container-->
            </nav>
        </header>
        <!-- END HEADER -->
        <!-- BEGIN CONTAINER -->
        <div class="container-fluid">
            <div class="page-content page-content-popup">
                <div class="page-content-fixed-header">
                    <!-- BEGIN BREADCRUMBS -->
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>Events</li>
                    </ul>
                    <!-- END BREADCRUMBS -->
                </div>
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="nav-item start active open">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">Dashboard</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item start open">
                                        <a href="/dashboard/events" class="nav-link ">
                                            <i class="icon-bar-chart"></i>
                                            <span class="title">Events</span>
                                        </a>
                                    </li>
                                    <li class="nav-item start ">
                                        <a href="/dashboard/checks" class="nav-link ">
                                            <i class="icon-bulb"></i>
                                            <span class="title">Checks</span>
                                        </a>
                                    </li>
                                    <li class="nav-item start ">
                                        <a href="/dashboard/tags" class="nav-link ">
                                            <i class="icon-graph"></i>
                                            <span class="title">Tags</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END SIDEBAR MENU -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <div class="page-fixed-main-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <%- body %>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- BEGIN FOOTER -->
                <p class="copyright-v2">
                    <a href="https://github.com/endticket/uptime2">Uptime <%= version %></a>, powered by <a href="http://nodejs.org/">Node.js</a>, <a href="http://www.mongodb.org/">MongoDB</a>, and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.
                    Code licensed under the <a href="https://raw.github.com/fzaninotto/uptime/master/LICENSE">MIT License</a>. Check the <a href="https://github.com/fzaninotto/uptime">Uptime GitHub repository</a> regularly for updates
                </p>
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <button type="button" class="quick-sidebar-toggler" data-toggle="collapse">
                    <span class="sr-only">Toggle Quick Sidebar</span>
                    <i class="icon-logout"></i>
                    <div class="quick-sidebar-notification">
                        <span class="badge badge-danger">7</span>
                    </div>
                </button>
                <!-- END QUICK SIDEBAR TOGGLER -->
                <a href="#index" class="go2top">
                    <i class="icon-arrow-up"></i>
                </a>
                <!-- END FOOTER -->
            </div>
        </div>
        <!-- END CONTAINER -->
    
    <script>
    var nbNewEvents = 0;
    var loadedAt = new Date();
    $(document).ready(function() {
      var changeFavicon = function(red) {
        $('head link[rel="shortcut icon"]').remove()
        $('head').append('<link rel="shortcut icon" type="image/x-icon" href="/dashboard/favicon' + (red ? '_red' : '') + '.ico">')
      }
      var updateCounts = function() {
        $.getJSON('/api/checks/count', function(count) {
          if (count.total > 0) {
            $('#all_up').show().children('strong').text(count.up);
          } else {
            $('#all_up').hide();
          }
          if (count.down > 0) {
            $('#all_down').show().children('strong').text(count.down);
            changeFavicon(true);
          } else {
            $('#all_down').hide();
            if (nbNewEvents > 0) {
              changeFavicon(false);
            }
          }
          if (nbNewEvents > 0) {
            document.title = '(' + nbNewEvents +') Uptime';
          };
        });
      };
      socket.on('CheckEvent', function() {
        nbNewEvents++;
        updateCounts();
        $('#check_summary').fadeOut().fadeIn().fadeOut().fadeIn();
        $('#new_events a').html(nbNewEvents + ' new event' + (nbNewEvents > 1 ? 's' : '') + ' since ' + moment(loadedAt).format('LLL'));
      });
      updateCounts();
    });
    </script>
    <!-- BEGIN CORE PLUGINS -->
    <script src="/dashboard/javascripts/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/bootstrap-switch/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/dashboard/javascripts/plugins/moment.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/plugins/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="/dashboard/javascripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/dashboard/javascripts/dashboard.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="/dashboard/javascripts/layout.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="/dashboard/javascripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
  </body>
</html>